* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

li:last-of-type {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}