@use 'base';
@use 'form';

.main-container {
    border: 2px solid black;
    margin: 50px;
}


.header-container {
    display: flex;
}

.header-title {
    background-color: lightcoral;
    width: 30%;
}

.header-social {
    background-color: lightblue;
    display: flex;    
    justify-content: flex-end;
    width: 70%;
    
    img {
        width: 40px;
        margin-right: 10px;
    }
}


.body-container {
    display: flex;
}

.navbar-container {
    background-color: lightblue;
    width: 30%;
}

.iframe-container {
    background-color: lightcoral;
    width: 70%;
    padding: 50px;
}
