@use 'base';

.header-container {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-title {
    display: flex;
    flex-direction: column;
}

.header-navbar {
    width: 50%;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.about-me {
    background-color: lightgreen;
}

.projects {
    background-color: lightpink;
}