.main-page {
    background-image: radial-gradient(ellipse at 65% 60%, #08f7a1, #000055 100%);

    .main-container {
        border: 2px solid black;
        position: fixed;
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;  
    
        .header-container {
            display: flex;
            height: 20%;
            padding: 25px;
    
            .header-title {
                display: flex;
                flex-direction: column;  
                align-items: start;
                width: 70%;
                font-family: $primary-font;
    
                h1 {
                    font-size: 40px;
                }
                
                p {
                    font-size: 20px;
                }
            }
            
            .header-social {
                display: flex;  
                justify-content: flex-end;
                align-items: start;
                width: 30%;
                
                a {
                    margin-right: 15px;
                }
            
                a:last-of-type {
                    margin-right: 0px;
                }
            
                img {
                    width: 30px;
                }
            
                .linkedin-logo {
                    border-radius: 15px;
                }
            }
        }
    }
    
    .body-container {
        display: flex;
        justify-content: space-between;
        height: 80%;
        padding: 25px;
    
        .navbar-container {
            width: 30%;
            font-weight: 300;
        
            ul {
                list-style-type: none;
        
                li {
                    margin-bottom: 40px;
                }
                
                li:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
    
        .iframe-container {
            width: 70%;
        }
    }
}