.project-main-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    .single-project-container {
        position: relative;
        margin: 0 10px 10px 0; 
        width: 300px;  
        height: 200px;
        
        &:last-of-type {
            margin: 0;
        }

        .thumbnail img {
            width: 300px;  
            height: 200px;
            object-fit: cover;
            border-radius: 3px;
        }

        .project-info {
            display: flex;
            flex-direction: column;
            align-items: center;  
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;  
            height: 200px;
            border-radius: 3px;
            opacity: 0;
            background-color: #000055;
            transition: opacity .5s;

            .project-description {
                position: absolute;
                top: 5px;
                font-size: 20px;
                text-align: center;
                padding: 5px;
            }
    
            .project-link {
                position: absolute;
                bottom: 25px;
                
                a {
                    color: #08f7a1;
                    border: 2px solid #08f7a1;
                    border-radius: 50px;
                    padding: 10px 40px;
                    font-size: 15px;
                    transition: color .5s, background-color .5s;
                
                    &:hover {
                        color: #000055;
                        background-color: #08f7a1;
                    }
                }
            }

            &:hover {
                opacity: 1;
            }
        }  
    }
}
