* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

li:last-of-type {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: lightblue;
  border: 2px solid black;
  margin: 50px;
  display: flex;
}

.header-container {
  background-color: lightcoral;
  width: 30%;
  padding: 5px;
}

.iframe-container {
  background-color: lightgreen;
  width: 70%;
  padding: 5px;
}

.header-navbar {
  margin-top: 50px;
}

/* OLD VERSION
.header-container {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-title {
    display: flex;
    flex-direction: column;
}

.header-navbar {
    width: 50%;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.about-me {
    background-color: lightgreen;
}

.projects {
    background-color: lightpink;
}
 */