@font-face {
  font-family: "Quicksand";
  src: url("/assets/font/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("/assets/font/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("/assets/font/Lato-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  height: 100%;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: context-menu;
}

html::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.6);
}

body {
  font-family: Lato;
}

a {
  text-decoration: none;
}

iframe {
  width: 100%;
  height: 100%;
}

.main-page {
  background-image: radial-gradient(ellipse at 65% 60%, #08f7a1, #000055 100%);
}
.main-page .main-container {
  border: 2px solid black;
  position: fixed;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
}
.main-page .main-container .header-container {
  display: flex;
  height: 20%;
  padding: 25px;
}
.main-page .main-container .header-container .header-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
  font-family: Quicksand;
}
.main-page .main-container .header-container .header-title h1 {
  font-size: 40px;
}
.main-page .main-container .header-container .header-title p {
  font-size: 20px;
}
.main-page .main-container .header-container .header-social {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  width: 30%;
}
.main-page .main-container .header-container .header-social a {
  margin-right: 15px;
}
.main-page .main-container .header-container .header-social a:last-of-type {
  margin-right: 0px;
}
.main-page .main-container .header-container .header-social img {
  width: 30px;
}
.main-page .main-container .header-container .header-social .linkedin-logo {
  border-radius: 15px;
}
.main-page .body-container {
  display: flex;
  justify-content: space-between;
  height: 80%;
  padding: 25px;
}
.main-page .body-container .navbar-container {
  width: 30%;
  font-weight: 300;
}
.main-page .body-container .navbar-container ul {
  list-style-type: none;
}
.main-page .body-container .navbar-container ul li {
  margin-bottom: 40px;
}
.main-page .body-container .navbar-container ul li:last-of-type {
  margin-bottom: 0px;
}
.main-page .body-container .iframe-container {
  width: 70%;
  overflow: hidden;
}

.chapter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.chapter-container:last-of-type {
  margin-bottom: 0px;
}
.chapter-container .chapter-title-container {
  display: flex;
  justify-content: space-between;
}
.chapter-container .chapter-title-container .before-title,
.chapter-container .chapter-title-container .after-title {
  border-top: 2px solid white;
  width: 100%;
  position: relative;
  top: 18px;
  margin: 0 10px;
}
.chapter-container .chapter-title-container .chapter-title {
  width: auto;
  color: white;
  font-size: 30px;
}
.chapter-container .chapter-body-container {
  margin: 5px 10px;
}
.chapter-container .chapter-body-container p {
  color: black;
  line-height: 1.8em;
}

.contacts-form .form-row {
  display: flex;
  flex-direction: column;
  margin: 0 10px 40px 10px;
}
.contacts-form .form-row label {
  margin-bottom: 15px;
}
.contacts-form .form-row input[type=text],
.contacts-form .form-row input[type=email] {
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  color: black;
}
.contacts-form .form-row textarea {
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  color: black;
  min-height: 150px;
  resize: none;
}
.contacts-form .form-row textarea::-webkit-scrollbar {
  width: 12px;
}
.contacts-form .form-row textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.contacts-form .form-row textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.contacts-form .form-row textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: context-menu;
}
.contacts-form .form-row textarea::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.6);
}
.contacts-form .first-row {
  display: flex;
  flex-direction: row;
}
.contacts-form .first-row .form-cell {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
}
.contacts-form .first-row .form-cell:last-of-type {
  margin-right: 0;
}
.contacts-form .submit-row {
  display: flex;
  justify-content: center;
}
.contacts-form .submit-row button {
  font-size: 16px;
  font-weight: bold;
  color: #000055;
  border: 2px solid #000055;
  border-radius: 50px;
  padding: 10px 40px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}
.contacts-form .submit-row button:hover {
  color: #08f7a1;
  background-color: #000055;
}

.contacts-social {
  display: none;
}

.project-main-container {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
.project-main-container .single-project-container {
  position: relative;
  margin: 0 10px 10px 0;
  width: 300px;
  height: 200px;
}
.project-main-container .single-project-container .thumbnail img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}
.project-main-container .single-project-container .project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  border-radius: 3px;
  opacity: 0;
  background-color: #000055;
  transition: opacity 0.5s;
}
.project-main-container .single-project-container .project-info .project-description {
  position: absolute;
  top: 5px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
.project-main-container .single-project-container .project-info .project-link {
  position: absolute;
  bottom: 25px;
}
.project-main-container .single-project-container .project-info .project-link a {
  color: #08f7a1;
  border: 2px solid #08f7a1;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 15px;
  transition: color 0.5s, background-color 0.5s;
}
.project-main-container .single-project-container .project-info .project-link a:hover {
  color: #000055;
  background-color: #08f7a1;
}
.project-main-container .single-project-container .project-info:hover {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  html::-webkit-scrollbar {
    width: 0;
  }
  .main-page {
    background-image: radial-gradient(ellipse at 50% 50%, #08f7a1, #000055 100%);
  }
  .main-page .main-container {
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
  }
  .main-page .main-container .header-container {
    padding: 10px;
    height: 15%;
  }
  .main-page .main-container .header-container .header-title {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .main-page .main-container .header-container .header-title h1 {
    font-size: 25px;
  }
  .main-page .main-container .header-container .header-title p {
    font-size: 13px;
  }
  .main-page .main-container .header-container .header-social {
    display: none;
  }
  .main-page .main-container .body-container {
    flex-direction: column;
    padding: 10px;
    height: 85%;
  }
  .main-page .main-container .body-container .navbar-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-page .main-container .body-container .navbar-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    border-radius: 20px;
  }
  .main-page .main-container .body-container .navbar-container ul li {
    margin-bottom: 0px;
  }
  .main-page .main-container .body-container .iframe-container {
    width: 100%;
    height: 100%;
  }
  .contacts-form {
    margin-bottom: 60px;
  }
  .contacts-form .first-row {
    flex-direction: column;
  }
  .contacts-form .first-row .form-cell {
    width: 100%;
    margin-bottom: 15px;
  }
  .contacts-form .form-row {
    margin-bottom: 15px;
  }
  .contacts-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contacts-social img {
    width: 30px;
  }
  .contacts-social .linkedin-logo {
    border-radius: 15px;
    margin-right: 10px;
  }
  .project-main-container {
    flex-direction: column;
    align-items: center;
  }
  .project-main-container .single-project-container {
    width: 225px;
    height: 150px;
    margin: 0 0 10px 0;
  }
  .project-main-container .single-project-container .thumbnail img {
    width: 225px;
    height: 150px;
  }
  .project-main-container .single-project-container .project-info {
    width: 225px;
    height: 150px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1023px) {
  .main-page .main-container .header-container .header-title h1 {
    font-size: 30px;
  }
  .main-page .main-container .header-container .header-title p {
    font-size: 15px;
  }
  .main-page .main-container .header-container .header-social {
    display: none;
  }
  .project-main-container {
    flex-direction: row;
  }
  .project-main-container .single-project-container {
    width: 225px;
    height: 125px;
    margin: 10px 0 0 10px;
  }
  .project-main-container .single-project-container .thumbnail img {
    width: 225px;
    height: 125px;
  }
  .project-main-container .single-project-container .project-info {
    width: 225px;
    height: 125px;
  }
}
@media only screen and (orientation: landscape) and (max-height: 500px) {
  html::-webkit-scrollbar {
    width: 0;
  }
  .main-page {
    background-image: radial-gradient(ellipse at 50% 50%, #08f7a1, #000055 100%);
  }
  .main-page .main-container {
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    padding: 10px;
  }
  .main-page .main-container .header-container {
    padding: 10px;
    height: 15%;
    margin-bottom: 10px;
  }
  .main-page .main-container .header-container .header-title {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .main-page .main-container .header-container .header-title h1 {
    font-size: 25px;
  }
  .main-page .main-container .header-container .header-title p {
    font-size: 13px;
  }
  .main-page .main-container .header-container .header-social {
    display: none;
  }
  .main-page .main-container .body-container {
    flex-direction: column;
    padding: 10px;
    height: 85%;
  }
  .main-page .main-container .body-container .navbar-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-page .main-container .body-container .navbar-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    border-radius: 20px;
  }
  .main-page .main-container .body-container .navbar-container ul li {
    margin-bottom: 0px;
  }
  .main-page .main-container .body-container .iframe-container {
    width: 100%;
    height: 100%;
  }
  .project-main-container {
    flex-direction: column;
    align-items: center;
  }
  .project-main-container .single-project-container {
    width: 225px;
    height: 150px;
    margin: 0 0 10px 0;
  }
  .project-main-container .single-project-container .thumbnail img {
    width: 225px;
    height: 150px;
  }
  .project-main-container .single-project-container .project-info {
    width: 225px;
    height: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .main-page .main-container .body-container .navbar-container ul li a {
    border-radius: 50px;
    transition: background-color 0.5s, padding 0.5s, border-radius 0.5s;
  }
  .main-page .main-container .body-container .navbar-container ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 40px;
    border-radius: 50px;
  }
  .main-page .main-container .body-container .navbar-container ul li a:active {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 40px;
    border-radius: 50px;
  }
  .main-page .main-container .iframe-container {
    max-width: 1100px;
  }
}